import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from IPython import display
import pymorphy3
from nltk.corpus import stopwords
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import TensorDataset, DataLoader
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import f1_score, accuracy_score, roc_auc_score
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
import nltk
from gensim.models import Word2Vec
from gensim.utils import simple_preprocess
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from torch.nn.utils.rnn import pad_sequence
import random
from transformers import BertTokenizer, BertModel